<!DOCTYPE html>
<html>
    
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Home Page</title>
  <style>
    body {
      text-align: center;
      margin-top: 150px;
      background-image: url("bg-temp.jpg");
      background-size: 92%;
      margin-left: 15%;
      background-size: 99%;
      background-blur: 60px;
      backdrop-filter: blur(60px);
    }
    
    .button-container {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    
    .button {
      padding: 10px 20px;
      background-color: yellowgreen;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>Welcome to your Temperature Converter . </h1>
  
  <div class="button-container">
    <a href="/signup" class="button">Signup <i class="fa-solid fa-user-plus"></i></a> 
    <a href="/login" class="button">Login <i class="fa-solid fa-right-to-bracket"></i></i></a>
  </div>
</body>
</html>
